.character-card {
  background-color: #5cc1eb;
  border-radius: 20px;
  border-style: dashed;
  border-width: 3px;
  border-color: #ffd253;
  padding: 20px;
  width: 300px;
  text-align: center;
}

p {
  color: white;
}

h3 {
  color: #df071f;
}

h4 {
  color: white;
}

img {
  border-radius: 10px;
}